{{define "masthead"}}




<script type="text/javascript">



</script>

  <div class="ui inverted segment" style="padding: 0em !important; margin: 0 1.7rem 0.3rem 1.7rem !important; background-color: #000000;">
  <div class="ui inverted secondary pointing menu">
    
        <a class="item" href="/">HOME</a>
        <a class="item" href="#">DOCUMENTATION</a>
        <a class="item" href="#">CONTACT</a>

    <div class="right item">
    User: <div id="idName">{{.Email}}</div></br>
    
    </div>

  </div>
</div>


{{end}}